@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SuisseIntl;
  font-weight: 700;
  src: url("_fonts/SuisseIntl-Bold.otf") format("opentype");
}

@font-face {
  font-family: SuisseIntl;
  font-weight: 450;
  src: url("_fonts/SuisseIntl-Book.otf") format("opentype");
}

@layer base{
  body {
    @apply bg-surface-50 font-body dark:bg-surface-800 dark:text-surface-50
  }
}

@layer components {
  .h1 {
    @apply font-bold leading-140 text-32 lg:text-48
  }

  .h2 {
    @apply font-bold leading-140 text-24 lg:text-32
  }

  .h3 {
    @apply font-bold leading-130 text-18 lg:text-24
  }

  .h4 {
    @apply font-bold leading-130 text-16 lg:text-18
  }

  .h5 {
    @apply font-bold leading-130 text-14 lg:text-16
  }

  .subhead1 {
    @apply font-book leading-120 text-32
  }

  .subhead2 {
    @apply font-book leading-120 text-24
  }

  .subhead3 {
    @apply font-book leading-120 text-18
  }

  .body {
    @apply font-book leading-120 text-16
  }

  .body2 {
    @apply font-book leading-120 text-14
  }

  .caption {
    @apply font-book leading-120 text-12
  }

  .button {
    @apply font-bold leading-150 text-16
  }
}
